<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Hanlak wo public folder k andr hai fer b wo accessible hai... -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- <h1>HOME</h1> -->
    <!-- Yahan hum variables ko access krskty hain -->
    <!-- and locals js ejs mai object ki trhan behave krty hain -->
    <!-- <p>Hello <%= locals %></p>
    <p>Hello <%= locals.name %></p>
    <p>Hello <%= name %></p> -->

    <!-- Abi tk hmny basics pra hai ab hum form bana k thora sa practical b dekhty hain... -->
<main>
    <form>
        <input type="text" name="name">
        <input type="email" name="email">
        <button type="submit">Send Message</button>
    </form>
</main>
    



     <!-- Hanlak wo public folder k andr hai fer b wo accessible hai... -->
     <script src="script.js"></script>
</body>
</html>


<!-- So it means k hum piblic folder ko kahi pr b access krskty hain... -->