<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>HOME</h1>
    <!-- Yahan hum variables ko access krskty hain -->
     <!-- and locals js ejs mai object ki trhan behave krty hain -->
     <p>Hello <%= locals %></p>
     <p>Hello <%= locals.name %></p>
     <p>Hello <%= name %></p>

     <script src="script.js"></script>
</body>
</html>